body {
    background-color: #EEF2FF;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 3px;
  }
  h1 {
    color: #66BFBF;
  }
  h3 {
    color: #66BFBF;
  }

 #head {
  color: goldenrod;
 }

 #text:hover {
  background-color: azure;
 }
 #text1:hover {
  background-color: blanchedalmond;
 }